<header class="site-header">
  <div class="header-inner">
    <div class="brand"><a href="/"><%= shopName %></a></div>
    <nav class="main-nav">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/search">Search</a>
      <a href="/register">Register</a>
      <a href="/survey">Survey</a>
    </nav>
  </div>
</header>
