<!doctype html>
<html>
  <head>
    <title><%= shopName %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('partials/header') %>
    <h1>Search Page</h1>
    <p>Search for any items here.</p>

    <form action="/search_result" method="GET">
      Name: <input id="search_box" type="text" name="search_text"> <br><br>
      Category: <input id="search_category" type="text" name="search_category"> <br><br>
      <input type="submit" value="OK" >
    </form>
    

  </body>
</html>
